@model int
<div class="row container">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your order Number is : @Model.ToString("D") <br/><br/>
        <img src="~/Images/lawn_leaf.jpg" width="65%"/>
    </div>
    <div class="col-12 text-center">
        <br/>
        Your order has been placed successfully!
        <br/>
    </div>
</div>